.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  margin-top: 5%;
}

mat-card {
  width: 300px;
  background-image: linear-gradient(
    to right top,
    #370537,
    #3d3c77,
    #1472b0,
    #00a9d7,
    #12e0eb
  );
}

.display input {
  font-size: 14px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
  width: 250px;
  border-radius: 15px;
}
.row {
  display: contents;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  width: 100%;
  height: 40px;
  background: #6177e5;
  font-weight: 700;
}

.row button {
  margin-bottom: 5px;
}
